
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap');



body{
    background-color: #212529;
    width: 100%;
    margin: 0px;
}




/*header*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}

.header__container{
    margin-top: 20px;
    margin-right: 25px;
}

.header__container a{
    margin-left: 7px;
    margin-right: 7px;
}

.header__container a img{
    width: 50px;
    height: 52px;
}

.header__container button img{
    width: 50px;
    height: 52px;
}

.header__logo{
    width: 70px;
    height: 80.5px;
    margin-left: 25px;
    margin-top: 15px;
}


.header__container__menuButton{
    margin-left: 5px;
    background-color: transparent;
    border: none;
}

.header__container__menuButton:hover{
    cursor: pointer;
}

.header__container__githubIcon:hover{
    cursor: pointer;
}

.header__container__instagramicon:hover{
    cursor: pointer;
}

.header__container__stackoverflowicon:hover{
    cursor: pointer;
}

.header__container__twitterIcon:hover{
    cursor: pointer;
}

.header__container__linkedinicon:hover{
    cursor: pointer;
}
.header__container a{ 
    text-decoration: none; 
}




.main{
    width: 100%;
}




/*First Page*/

.firstPage {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    height: 665px;
}

.firstPage__leftContainer{
    width: 550px;
    height: 620px;
    margin-left: 30px;
}

.firstPage__leftContainer__container__titleContainer h1{
    font-size: 44px;
    font-family: 'Inter', sans-serif;
    color: #F8F9FA;
}
.firstPage__leftContainer__container__subtitleContainer{
    color: #68717A;
    text-align: justify;
}

.firstPage__leftContainer__container__subtitleContainer h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 30px;
}

.firstPage__rightContainer__iphoneAndWindowImg{
    margin-right: 0px;
}

.firstPageContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.firstPageContainer__separator{
    position:absolute;
    width: 2px;
    background-color: #3A4147;
    height: 813.5px; 
    top: 0;
}

.firstPage__aboutMeButtonContainer{
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.firstPage__aboutMeButtonContainer img:hover{
    cursor: pointer;

}

.firstPage__leftContainer__container__buttonContainer{
    margin-top: 70px;
    color: white;
    background-color: #18191B;
    width: 350px;
    height: 90px;
    border-radius: 14px;
}

.firstPage__leftContainer__container__buttonContainer__button{
    width: 350px;
    height: 90px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 38px;
    font-weight: 530;
    text-align: center;
    align-items: center;
    box-shadow: 0px 4px 15px 5px #00000025;
    border-radius: 14px;
}

.firstPage__leftContainer__container__buttonContainer__button:hover{
    cursor: pointer;
}




/*second page*/

.secondPage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(7,1fr);
    background-color: #F5F7FA;
    width: 100%;
    margin-top: 30px;
    z-index: 1;
}

.secondPage__titleContainer{
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.secondPage__titleContainer__container{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    background-color: white;
    border: none;
    color: #373538;
    font-size: 15px;
    box-shadow: 0px 30px 18px 0px #D4D9E8;
    border-radius: 25px;
}

.secondPage__titleContainer__container__text{
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.secondPage__titleContainer__container__dot{
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #2196F3;
    margin-bottom: 55px;
}

.secondPage__firstImageTablet{
    grid-column: 1;
    grid-row: 1;
    background-color: #F5F7FA;
}

.secondPage__firstImageTablet img{
    z-index: 2;
}

.secondPage__secondImageTablet{
    grid-column: 3 ;
    grid-row: 2;
    justify-self: end;
    z-index: 2;
}

.secondPage__thirdImageTablet{
    grid-column: 1 / 1;
    grid-row: 3 / span 4;
    z-index: 2;
}

.secondPage__fourthImageTablet{
    grid-column: 3 / 3;
    grid-row: 4 / span 5;
    justify-self: end;
    z-index: 2;
}

.secondPage__fifthImageTablet{
    grid-column: 1 / 1;
    grid-row: 6 / span 7;
    z-index: 2;
}

.secondPage__sixthImageTablet{
    grid-column: 3 / 3;
    grid-row: 7 / span 9;
    justify-self: end;
    z-index: 2;
}

.secondPage__middleBackgroundLine{
    grid-column: 2 / 2;
    grid-row: 1 / 9;
    place-self: center;
    width: 2px;
    background-color: #ECECEC;
    height: 100%;
    z-index: 1;
}

.secondPage__leftBackgroundLine{
    grid-column: 1 / 1;
    grid-row: 1 / 9;
    width: 2px;
    background-color: #ECECEC;
    height: 100%;
    z-index: 1;
    justify-self: end;
    margin-right: 40%;
}

.secondPage__rigthBackgroundLine{
    grid-column: 3 / 3;
    grid-row: 1 / 9;
    width: 2px;
    background-color: #ECECEC;
    height: 100%;
    z-index: 1;
    justify-self: baseline;
    margin-left: 40%;
}



  /*Column*/

.secondPageColumn{
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 0;
    z-index: 4;
    margin-top: 1025px;
}

.secondPageColumn__behendProyectContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 200px;
}

.secondPageColumn__behendProyectContainer__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 4 4 0 #000000;
}

.secondPageColumn__behendProyectContainer__container img{
    width: 880px;
    height: 586px;
}

.secondPageColumn__behendProyectContainer__containerIcon{
    position: absolute;
    background-color:transparent;
    width: 100%;
    margin-bottom: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}
.secondPageColumn__behendProyectContainer__containerIcon__icon{
    z-index: 4;
    width: 880px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.secondPageColumn__behendProyectContainer__containerIcon__icon img{
    width: 83px;
    height: 83px;
    margin-left: 100px;
}

.secondPageColumn__behendProyectContainer__container__description__linksContainer a img{
    width: 43px;
    height: 45px;
}

.secondPageColumn__mblogProyectContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 200px;
}

.secondPageColumn__mblogProyectContainer__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 4 4 0 #000000;
}

.secondPageColumn__mblogProyectContainer__container img{
    width: 880px;
    height: 586px;
}

.secondPageColumn__mblogProyectContainer__containerIcon{
    position: absolute;
    background-color:transparent;
    width: 100%;
    margin-bottom: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}

.secondPageColumn__mblogProyectContainer__containerIcon__icon{
    z-index: 4;
    width: 880px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.secondPageColumn__mblogProyectContainer__containerIcon__icon img{
    width: 83px;
    height: 83px;
    margin-left: 100px;
}

.secondPageColumn__mblogProyectContainer__container__description__linksContainer a img{
    width: 43px;
    height: 45px;
}

.secondPageColumn__notasticProyectContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 200px;
}

.secondPageColumn__notasticProyectContainer__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 4 4 0 #000000;
}

.secondPageColumn__notasticProyectContainer__container img{
    width: 880px;
    height: 586px;
}

.secondPageColumn__notasticProyectContainer__containerIcon{
    position: absolute;
    background-color:transparent;
    width: 100%;
    margin-bottom: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}

.secondPageColumn__notasticProyectContainer__containerIcon__icon{
    z-index: 4;
    width: 880px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.secondPageColumn__notasticProyectContainer__containerIcon__icon img{
    width: 83px;
    height: 83px;
    margin-left: 100px;
}

.secondPageColumn__notasticProyectContainer__container__description__linksContainer a img{
    width: 43px;
    height: 45px;
}

.secondPageColumn__protompanyProyectContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 40px;
}

.secondPageColumn__protompanyProyectContainer__container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0 4 4 0 #000000;
}

.secondPageColumn__protompanyProyectContainer__container img{
    width: 880px;
    height: 586px;
}

.secondPageColumn__protompanyProyectContainer__containerIcon{
    position: absolute;
    background-color:transparent;
    width: 100%;
    margin-bottom: 134px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
}

.secondPageColumn__protompanyProyectContainer__containerIcon__icon{
    z-index: 4;
    width: 880px;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.secondPageColumn__protompanyProyectContainer__containerIcon__icon img{
    width: 83px;
    height: 83px;
    margin-left: 100px;
}

.secondPageColumn__protompanyProyectContainer__container__description__linksContainer a img{
    width: 43px;
    height: 45px;
}

.secondPageColumn__behendProyectContainer__container__description{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 882px;
    height: 178px;
    margin-right: -1px;
    margin-left: -1px; 
    margin-bottom: -1px; 
    background-color: white;
    border-radius: 25px;
    color: #A1A1A1;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.secondPageColumn__mblogProyectContainer__container__description{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 882px;
    height: 178px;
    margin-right: -1px;
    margin-left: -1px; 
    margin-bottom: -1px;
    background-color: white;
    border-radius: 25px;
    color: #A1A1A1;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.secondPageColumn__notasticProyectContainer__container__description{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 882px;
    height: 178px;
    margin-right: -1px;
    margin-left: -1px; 
    margin-bottom: -1px;
    background-color: white;
    border-radius: 25px;
    color: #A1A1A1;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.secondPageColumn__protompanyProyectContainer__container__description{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 882px;
    height: 178px;
    margin-right: -1px;
    margin-left: -1px; 
    margin-bottom: -1px;
    background-color: white;
    border-radius: 25px;
    color: #A1A1A1;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.secondPageColumn__behendProyectContainer__container__description h2{
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15.9px;
    line-height: 28px;
}

.secondPageColumn__mblogProyectContainer__container__description h2 {
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15.9px;
    line-height: 28px;
}

.secondPageColumn__notasticProyectContainer__container__description h2{
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15.9px;
    line-height: 28px;
}

.secondPageColumn__protompanyProyectContainer__container__description h2{
    margin-top: 60px;
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15.9px;
    line-height: 28px;
}
.secondPageColumn__behendProyectContainer__container__description__linksContainer{
    margin-top: 70px;
    margin-right: 40px;
}

.secondPageColumn__mblogProyectContainer__container__description__linksContainer{
    margin-top: 50px;
    margin-right: 40px;
}

.secondPageColumn__notasticProyectContainer__container__description__linksContainer{
    margin-top: 50px;
    margin-right: 40px;
}

.secondPageColumn__protompanyProyectContainer__container__description__linksContainer{
    margin-top: 50px;
    margin-right: 40px;
}

.secondPageColumn__behendProyectContainer__container__description__linksContainer a{
    text-decoration: none;
}

.secondPageColumn__mblogProyectContainer__container__description__linksContainer a{
    text-decoration: none;
}

.secondPageColumn__notasticProyectContainer__container__description__linksContainer a{
    text-decoration: none;
}

.secondPageColumn__protompanyProyectContainer__container__description__linksContainer a{
    text-decoration: none;
}

.secondPageColumn__behendProyectContainer__container__description__linksContainer a:hover{
    cursor: pointer;
}

.secondPageColumn__mblogProyectContainer__container__description__linksContainer a:hover{
    cursor: pointer;
}

.secondPageColumn__notasticProyectContainer__container__description__linksContainer a:hover{
    cursor: pointer;
}

.secondPageColumn__protompanyProyectContainer__container__description__linksContainer a:hover{
    cursor: pointer;
}
.secondPageColumn__otherProyectsContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-bottom: 130px;
    margin-top: 100px;
}

.secondPageColumn__otherProyectsContainer__container{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
    z-index: 3;
}

.secondPageColumn__otherProyectsContainer__titleContainer{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    background-color: #212529;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    box-shadow: 0px 30px 18px 0px #D4D9E8;
    border-radius: 125px;
}

.secondPageColumn__otherProyectsContainer__titleContainer__text{
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.secondPageColumn__otherProyectsContainer__titleContainer__dot{
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    color: #E44235;
    margin-bottom: 68px;
}

.secondPageColumn__otherProyectsContainer__carousel{
    display: flex;
    width: 100%;
    justify-content: center;
}

.left-arrow{
    margin-top: 250px;
    margin-bottom: auto;
}

.left-arrow img{
    width: 190px;
    left: 190px;
}

.secondPageColumn__otherProyectsContainer__carousel__leftGradient{
    position: absolute;
    z-index: 5;
    background-color: transparent;
    margin-right: 920px;
    margin-top: 20px;
}

.secondPageColumn__otherProyectsContainer__carousel__leftGradient img{
    border-radius: 10px;
}

#carrusel {
    float:left;
    width: 1000px;
    height: 600px;
    overflow:hidden;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    background-color: white;
    border-radius: 25px;
    color: #A1A1A1;
    box-shadow: 0px 30px 25px 0px #00000010;
}
 
.carrusel {
    justify-content: baseline;
    margin-left: 50px;
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    text-align:center;
    margin-right: 50px;
    margin-top: 60px;
    border-radius: 10px;
}
 
.product {
    width: 270px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 30px 25px 0px #00000010;
}

#product_0 .productZero_container__background{
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
}

#product_0 .productZero_container__background img{
    width: 270px;
    border-radius: 10px;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.productZero_container__icon{
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    margin-top: 200px;
    margin-left: 100px;
}

.productZero_container__icon img{
    width: 70px;
    height: 70px;
}

.productZero_container__description{
    position: absolute;
    display: flex;
    width: 272px;
    margin-left: -1px;
    margin-right: -1px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 235px;
    z-index: 2;
}

.productZero_container__description__text{
    width: 170px;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

.productZero_container__description__text h2{
    color: #A1A1A1;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
}

.productZero_container__description__iconLinks{
    margin-top: 40px;
}

.productZero_container__description__iconLinks a{
    text-decoration: none;
}

.productZero_container__description__iconLinks a img{
    width: 40px;
    height: 40px;
}

.productOne_container__background{
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
}

.productOne_container__background img{
    width: 270px;
    border-radius: 10px;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.productOne_container__icon{
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    margin-top: 200px;
    margin-left: 100px;
}

.productOne_container__icon img{
    width: 70px;
    height: 70px;
}

.productOne_container__description{
    position: absolute;
    display: flex;
    width: 272px;
    margin-left: -1px;
    margin-right: -1px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 235px;
    z-index: 2;
}

.productOne_container__description__text{
    width: 170px;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

.productOne_container__description__text h2{
    color: #A1A1A1;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
}

.productOne_container__description__iconLinks{
    margin-top: 40px;
}

.productOne_container__description__iconLinks a{
    text-decoration: none;
}

.productOne_container__description__iconLinks a img{
    width: 40px;
    height: 40px;
}

.productTwo_container__background{
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
    margin-top: 10px;
}

.productTwo_container__background img{
    width: 270px;
    border-radius: 10px;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.productTwo_container__icon{
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    margin-top: 200px;
    margin-left: 100px;
}

.productTwo_container__icon img{
    width: 70px;
    height: 70px;
}

.productTwo_container__description{
    position: absolute;
    display: flex;
    width: 272px;
    margin-left: -1px;
    margin-right: -1px;
    height: 270px;
    background-color: white;
    border-radius: 10px;
    margin-top: 235px;
    z-index: 2;
}

.productTwo_container__description__text{
    width: 170px;
    text-align: left;
    margin-left: 20px;
    margin-top: 30px;
}

.productTwo_container__description__text h2{
    color: #A1A1A1;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
}

.productTwo_container__description__iconlinks{
    margin-top: 40px;
}

.productTwo_container__description__iconlinks a{
    text-decoration: none;
}

.productTwo_container__description__iconlinks a img{
    width: 40px;
    height: 40px;
}

.productThree_container__background{
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
}

.productThree_container__background img{
    width: 270px;
    border-radius: 10px;
    box-shadow: 0px 30px 25px 0px #00000010;
}

.productThree_container__icon{
    justify-content: center;
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 3;
    margin-top: 200px;
    margin-left: 100px;
}

.productThree_container__icon{
    width: 70px;
    height: 70px;
}

.right-arrow{
    margin-top: 250px;
    margin-bottom: auto;
}

.right-arrow img{
    width: 190px;
    height: 190px;
}

.productThree_container__description{
    position: absolute;
    display: flex;
    width: 270px;
    height: 500px;
    background-color: #212529;
    border-radius: 10px;
    margin-top: 18px;
    z-index: 2;
    box-shadow: 0px 10px 25px 0px #00000090;
}

.productThree_container__description__text{
    width: 270px;
    text-align: left;
    margin-left: 50px;
    margin-top: 0px;
}

.productThree_container__description__text img{
    margin-top: 220px;
}

.productThree_container__description__text h2{
    color: #CBCBCB;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

.productFour_container__background{
    position: absolute;
    width: 270px;
    height: 500px;
    z-index: 1;
}

.secondPageColumn__otherProyectsContainer__carousel__rigthGradient{
    position: absolute;
    z-index: 5;
    margin-top: 20px;
    margin-left: 920px;
    border-radius: 10px;
}

.secondPageColumn__otherProyectsContainer__carousel__rigthGradient picture img{
    border-radius: 10px;
}

/*waves*/

.second__thirdPageWaves{
    position: absolute;
    top: 0;
    margin-top: 4650px;
    z-index: 5;
    width: 100%;
}

.second__thirdPageWaves{
    width: 100%;
    z-index: 4;
}

.second__thirdPageWaves img{
    width: 100%;
    z-index: 4;
}





/*third page*/

.thirdPage{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.thirdPage__backgroundContainer{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100%;
    margin-top: 100px;
}

.thirdPage__backgroundContainer__firstImageTablet{
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    margin-top: 100px;
}

.thirdPage__backgroundContainer__secondImageTablet{
    grid-column: 3 / 3;
    grid-row: 2 / span 2;
    justify-self: end;
    margin-top: -75px;
}

.thirdPage__backgroundContainer__thirdImageTablet{
    grid-column: 1 / 1;
    grid-row: 3 / span 4;
    margin-top: 230px;
}

.thirdPage__backgroundContainer__fourthImageTablet{
    grid-column: 3;
    grid-row: 4 / span 5;
    justify-self: end;
}

.thirdPage__mainContainer{
    width: 100%;
    position: absolute;
    justify-content: center;
    margin-top: 195px;
    z-index: 6;
}

.thirdPage__mainContainer__mainDescriptionContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer{
    display: block;
    background-color: #18191B;
    width: 381px;
    height: 412px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 24px;
    box-shadow: 0px 4px 15px 5px #00000025;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__profileImage{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__profileImage img{
    width: 210px;
    height: 210px;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__locationContainer{
    margin-top: 30px;
    display: block;
    text-align: center;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__locationContainer{
    margin-top: 15px;
}
    
.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__locationContainer__title{
    color: #8F98A1;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
}
    
.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__locationContainer__text{
    color: #8F98A1;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription{
    display: block;
    width: 580px;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__title{
    display: flex;
    font-weight: 700;
    margin-top: 0px;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__title__text{
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__title__dot{
    color: #F4BE00;
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    font-size: 34px;
    margin-top: 15px;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text{
    color: #68717A;
}


.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text__1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px; 
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text div{
    display: flex;
    flex-direction: row;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text__2{
    
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
}


.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text__3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
}

.thirdPage__mainContainer__mainDescriptionContainer__textDescription__text__1__lineBreak1{
    display: none;
}


.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__lenguagesContainer{
    display: block;
    text-align: center;
    margin-top: 22px;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__lenguagesContainer__title{
    color: #8F98A1;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.thirdPage__mainContainer__mainDescriptionContainer__aboutMeContainer__lenguagesContainer__text{
    color: #8F98A1;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
}

  /*Competencies*/

.thirdPage__mainContainer__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.thirdPage__mainContainer__container__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thirdPage__mainContainer__container__container__spacer{
    height: 100%;
    width: 250px;
}

.thirdPage__mainContainer__container__container__competenciesContainer{
    background-color: #2A2F34;
    justify-content: baseline;
    display: block;
    width: 750px; 
    height: 330px;
    margin-top: 60px;
    margin-right: 34%;
    border-radius: 21px;
    box-shadow: 0px 4px 15px 5px #00000015;
}

.thirdPage__mainContainer__container__container__competenciesContainer__title{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 0px;
}

.thirdPage__mainContainer__container__container__competenciesContainer__title h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 10px;
    margin-top: 32px;
}

.thirdPage__mainContainer__container__container__competenciesContainer__frontEndTitle h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:5px;
}

.thirdPage__mainContainer__container__container__competenciesContainer__frontEndText h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:-2px;
}

.thirdPage__mainContainer__container__container__competenciesContainer_softSkillsTitle h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:15px;
}

.thirdPage__mainContainer__container__container__competenciesContainer__softSkillsText h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -2px;
}

.thirdPage__mainContainer__container__container__competenciesContainer_otherTitle h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top:15px;
}

.thirdPage__mainContainer__container__container__competenciesContainer_otherText h2{
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -3px;
}

  /*Titles*/

.thirdPage__mainContainer__titlesContainer__carousel{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

 
.left-arrow1 {
    margin-top: 250px;
    margin-bottom: auto;
}
 
.left-arrow1 img{
    width: 190px;
    height: 190px;
}

#carrusel1 {
    float:left;
    width:840px;
    overflow:hidden;
    height:630px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    background-color: #2A2F34;
    border-radius: 21px;
}

.carrusel1 {
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel1>div {
    float: left;
    width: 800px;
    height: 630px;
    margin-right: 5px;
    text-align:center;
    margin-top: 20px;
    margin-left: 20px;
}
 
#title_0 img{
    width: 800px;
    height: 590px;
    box-shadow: 0px 34px 20px 0px #00000025;
}

#title_1 img{
    width: 800px;
    height: 590px;
    box-shadow: 0px 34px 20px 0px #00000025;
}

#title_2 img{
    width: 800px;
    height: 590px;
    box-shadow: 0px 34px 20px 0px #00000025;
}

#title_3{
    background-color: #33393F;
    height: 590px;
    border-radius: 5px;
}

#title_3 img{
    margin-top: 250px;
    width: 250px;
    height: 80px;
}

.right-arrow1 {
    margin-bottom: auto;
    margin-top: 250px;
}

.right-arrow1 img{
    width: 190px;
    height: 190px;
}


.thirdPage__mainContainer__contactContainer{
    display: block;
    text-align: center;
}

.thirdPage__mainContainer__contactContainer__titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.thirdPage__mainContainer__contactContainer__titleContainer__text{
    display: flex;
    justify-content: center;
}

.thirdPage__mainContainer__contactContainer__titleContainer__text__firstPart{
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    font-size: 72px;
    font-weight: 400;
}

.thirdPage__mainContainer__contactContainer__titleContainer__text__signe{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 72px;
    margin-top: 85px;
}

.thirdPage__mainContainer__contactContainer__titleContainer__text__secondPart{
    font-family: 'Palanquin Dark', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 72px
}

.thirdPage__mainContainer__contactContainer__titleContainer__signe{
    margin-top: 85px;
    font-family: 'DM Sans', sans-serif;
    color: #9341D1;
    font-size: 72px
}

.thirdPage__mainContainer__contactContainer__iconContainer img{
    width: 150;
    height: 170px;
}

.thirdPage__mainContainer__contactContainer__container{
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
}
.thirdPage__mainContainer__contactContainer__container__centerContainer{
    display: flex;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__leftContainer{
    margin-top: 39px;
    width: 50%;
    color: white;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__leftContainer h2{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 400px;
    text-align: left;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__padding{
    width: 3px;
    background-color: #333A41;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__container{
    display: block;
    text-align: left;
    margin-left: 50px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__container__title{
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__container_email{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    font-weight: 500;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__container_numberContact{
    font-family: 'Inter', sans-serif;
    color: #68717A;
    font-size: 15px;
    font-weight: 500;
    margin-left: -1px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon{
    display: flex;
    margin-left: 40px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon__githubIcon img{
    width: 50px;
    height: 50px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon__instagramicon img{
    width: 50px;
    height: 50px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon__stackoverflowicon img{
    width: 50px;
    height: 50px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon__twitterIcon img{
    width: 50px;
    height: 50px;
}

.thirdPage__mainContainer__contactContainer__container__centerContainer__rigthContainer__linksIcon__linkedinicon img{
    width: 50px;
    height: 50px;
}





/*Footer*/

.footer{
    bottom: 0px;
    width: 100%;
    z-index: 30;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2565px;
    margin-bottom: 15px;
    position: relative;
}

.footerContainer__text{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.footerContainer__dot{
    font-family: 'Inter', sans-serif;
    color: #FCC500;
    font-size: 30px;
    margin-top: 17px;
}

